<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>

    <title>프로젝트 이름</title>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Square+Peg&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles.css">
    <script>
        $(document).ready(function () {
            var fileTarget = $('.filebox .upload-hidden');

            fileTarget.on('change', function () {  // 값이 변경되면
                if (window.FileReader) {  // modern browser
                    var filename = $(this)[0].files[0].name;
                } else {  // old IE
                    var filename = $(this).val().split('/').pop().split('\\').pop();  // 파일명만 추출
                }

                // 추출한 파일명 삽입
                $(this).siblings('.upload-name').val(filename);
            });

            //#btn toggle
            let i = 0;
            $("#btn").on("click", function () {
                if (i % 2 == 0) {
                    $('#link-box').css("display", "none")
                } else {
                    $('#link-box').css("display", "block")
                }
                i++;
            })
        });
    </script>
</head>

<body>

<!-- header(표지, 링크 작성하기 버튼 누를 때 toggle) -->
<div class="mypicture">
    <h1>링크 아카이브</h1>
    <button type="button" id="btn" class="btn btn-dark mybutton">링크 작성하기</button>
</div>

<!-- 작성 후 저장 버튼 누르면 저장 됨 -->
<div id="link-box" class="link-text">
    <div class="filebox">
        <input class="upload-name" value="업로드 이미지 선택" disabled="disabled">

        <label for="ex_filename">업로드</label>
        <input type="file" id="ex_filename" class="upload-hidden">
    </div>
<!-- title, link, content, writer 값을 가져 가면 됨 -->
    <input type="text" class="form-control submit-text" id="formGroupExampleInput2 title" placeholder="제목">
    <input type="text" class="form-control submit-text" id="formGroupExampleInput2 url" placeholder="링크">
    <input type="text" class="form-control submit-text" id="formGroupExampleInput2 content" placeholder="내용">
    <input type="text" class="form-control submit-text" id="formGroupExampleInput2 writer" placeholder="작성자">

    <button class="save-btn btn-hover" id="save-btn">저장</button>
</div>

<!-- 밑에 있는 것들을 temp_html 하면 됨-->

<div id="temp-box">

    <div class="response-box">
        <div class="response-image"></div>
        <div>
            <p class="response-text">여기에 제목이 옵니다</p>
            <p class="response-text"><a href="https://www.notion.so/62bffe54694142509eb12522112dcba6">https://www.notion.so/62bffe54694142509eb12522112dcba6</a>
            </p>
            <p class="response-text">여기에 내용이 옵니다. 내용이 길어지면 알아서 밑으로 늘어납니다.</p>
            <p class="response-text">여기에 작성자가 옵니다</p>
        </div>

        <div>
            <button class="delete-btn btn-hover">삭제</button>
            <button class="retouch-btn btn-hover">수정</button>
        </div>
    </div>

</div>

</body>

</html>